@import url(../../../https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);
@import url(../../../https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=latin,vietnamese,latin-ext);

#slider-3 H2 {
  text-align: left;
  font-size: 30px;
  color: #000000;
}
#features1-8 H4 {
  text-align: right;
}
#content5-a .mbr-section-title {
  font-size: 46px;
}
#content5-a P {
  font-size: 17px;
}
#footer1-i P {
  font-size: 16px;
  color: #0275d8;
}
#contacts1-m B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-m P {
  color: #ffffff;
}
#menu-7b .navbar-toggler {
  color: #0275d8;
}
#menu-7b .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-7b .nav-link {
  font-size: 20px;
}


#menu-4 .navbar-toggler {
  color: #0275d8;
}
#menu-4 .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-4 .nav-link {
  font-size: 20px;
}
#features1-y H4 {
  font-size: 20px;
  text-align: right;
  color: #000000;
}
#features1-y B {
  font-size: 24px;
  font-family: 'Alegreya Sans', sans-serif;
}
#features1-y I {
  font-size: 24px;
}
#features1-z B {
  font-size: 24px;
}
#features1-z I {
  font-size: 24px;
}
#features1-10 B {
  font-size: 24px;
}
#features1-10 I {
  font-size: 23px;
}
#features1-11 B {
  font-size: 24px;
}
#features1-11 I {
  font-size: 24px;
}
#features1-12 B {
  font-size: 24px;
}
#features1-12 I {
  font-size: 24px;
}
#features1-2y B {
  font-size: 24px;
}
#features1-2y I {
  font-size: 24px;
}
#features1-13 B {
  font-size: 24px;
}
#features1-13 I {
  font-size: 24px;
}
#features1-13 DIV {
  text-align: center;
}
#features1-14 B {
  font-size: 24px;
}
#features1-14 I {
  font-size: 24px;
}
#contacts1-m B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-m P {
  color: #ffffff;
}
#footer1-i P {
  font-size: 16px;
  color: #0275d8;
}

#menu-5 .navbar-toggler {
  color: #0275d8;
}
#menu-5 .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-5 .nav-link {
  font-size: 20px;
}
#contacts1-m B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-m P {
  color: #ffffff;
}
#footer1-i P {
  font-size: 16px;
  color: #0275d8;
}

#menu-5 .navbar-toggler {
  color: #0275d8;
}
#menu-5 .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-5 .nav-link {
  font-size: 20px;
}
#content5-n P {
  font-size: 25px;
}
#contacts1-m B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-m P {
  color: #ffffff;
}
#footer1-i P {
  font-size: 16px;
  color: #0275d8;
}

#menu-5 .navbar-toggler {
  color: #0275d8;
}
#menu-5 .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-5 .nav-link {
  font-size: 20px;
}
#msg-box3-1q .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1q .mbr-header .mbr-header__subtext {
  text-align: center;
}
#contacts1-m B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-m P {
  color: #ffffff;
}
#footer1-i P {
  font-size: 16px;
  color: #0275d8;
}

#menu-1t .navbar-toggler {
  color: #0275d8;
}
#menu-1t .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-1t .nav-link {
  font-size: 20px;
}
#header3-1w H3 {
  text-align: center;
}
#content5-24 P {
  font-size: 19px;
  text-align: left;
}
#image2-25 DIV {
  font-size: 30px;
}
#msg-box3-29 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-29 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#contacts1-m B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-m P {
  color: #ffffff;
}
#footer1-i P {
  font-size: 16px;
  color: #0275d8;
}

#menu-2c .navbar-toggler {
  color: #0275d8;
}
#menu-2c .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-2c .nav-link {
  font-size: 20px;
}
#header2-2f P {
  text-align: left;
}
#content5-2g .mbr-section-title {
  font-size: 46px;
}
#content5-2g P {
  font-size: 17px;
}
#msg-box2-8y H2 {
  font-size: 17px;
}
#contacts1-m B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-m P {
  color: #ffffff;
}
#footer1-i P {
  font-size: 16px;
  color: #0275d8;
}


#msg-box4-2m .lead P {
  font-size: 19px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-2 .navbar-toggler {
  color: #0275d8;
}
#menu-2 .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-2 .nav-link {
  font-size: 20px;
}
#contacts1-m B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-m P {
  color: #ffffff;
}
#footer1-i P {
  font-size: 16px;
  color: #0275d8;
}


#msg-box4-2s .lead P {
  font-size: 19px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-2u .navbar-toggler {
  color: #0275d8;
}
#menu-2u .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-2u .nav-link {
  font-size: 20px;
}
#contacts1-2w B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-2w P {
  color: #ffffff;
}
#footer1-2x P {
  font-size: 16px;
  color: #0275d8;
}


#msg-box4-2z .lead P {
  font-size: 19px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-31 .navbar-toggler {
  color: #0275d8;
}
#menu-31 .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-31 .nav-link {
  font-size: 20px;
}
#contacts1-33 B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-33 P {
  color: #ffffff;
}
#footer1-34 P {
  font-size: 16px;
  color: #0275d8;
}


#msg-box4-35 .lead P {
  font-size: 19px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-37 .navbar-toggler {
  color: #0275d8;
}
#menu-37 .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-37 .nav-link {
  font-size: 20px;
}
#contacts1-39 B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-39 P {
  color: #ffffff;
}
#footer1-3a P {
  font-size: 16px;
  color: #0275d8;
}


#msg-box4-3b .lead P {
  font-size: 19px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-3d .navbar-toggler {
  color: #0275d8;
}
#menu-3d .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-3d .nav-link {
  font-size: 20px;
}
#contacts1-3f B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-3f P {
  color: #ffffff;
}
#footer1-3g P {
  font-size: 16px;
  color: #0275d8;
}


#msg-box4-3n .lead P {
  font-size: 19px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-3p .navbar-toggler {
  color: #0275d8;
}
#menu-3p .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-3p .nav-link {
  font-size: 20px;
}
#contacts1-3r B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-3r P {
  color: #ffffff;
}
#footer1-3s P {
  font-size: 16px;
  color: #0275d8;
}


#msg-box4-3t .lead P {
  font-size: 19px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-3v .navbar-toggler {
  color: #0275d8;
}
#menu-3v .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-3v .nav-link {
  font-size: 20px;
}
#contacts1-3x B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-3x P {
  color: #ffffff;
}
#footer1-3y P {
  font-size: 16px;
  color: #0275d8;
}


#msg-box4-3z .lead P {
  font-size: 19px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-41 .navbar-toggler {
  color: #0275d8;
}
#menu-41 .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-41 .nav-link {
  font-size: 20px;
}
#contacts1-43 B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-43 P {
  color: #ffffff;
}
#footer1-44 P {
  font-size: 16px;
  color: #0275d8;
}


#msg-box4-45 .lead P {
  font-size: 19px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-47 .navbar-toggler {
  color: #0275d8;
}
#menu-47 .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-47 .nav-link {
  font-size: 20px;
}
#contacts1-49 B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-49 P {
  color: #ffffff;
}
#footer1-4a P {
  font-size: 16px;
  color: #0275d8;
}


#msg-box4-4b .lead P {
  font-size: 19px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-4d .navbar-toggler {
  color: #0275d8;
}
#menu-4d .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-4d .nav-link {
  font-size: 20px;
}
#contacts1-4f B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-4f P {
  color: #ffffff;
}
#footer1-4g P {
  font-size: 16px;
  color: #0275d8;
}


#msg-box4-4h .lead P {
  font-size: 19px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-4j .navbar-toggler {
  color: #0275d8;
}
#menu-4j .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-4j .nav-link {
  font-size: 20px;
}
#contacts1-4l B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-4l P {
  color: #ffffff;
}
#footer1-4m P {
  font-size: 16px;
  color: #0275d8;
}


#msg-box4-4n .lead P {
  font-size: 19px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-4p .navbar-toggler {
  color: #0275d8;
}
#menu-4p .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-4p .nav-link {
  font-size: 20px;
}
#contacts1-4r B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-4r P {
  color: #ffffff;
}
#footer1-4s P {
  font-size: 16px;
  color: #0275d8;
}


#msg-box4-4t .lead P {
  font-size: 19px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-4v .navbar-toggler {
  color: #0275d8;
}
#menu-4v .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-4v .nav-link {
  font-size: 20px;
}
#contacts1-4x B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-4x P {
  color: #ffffff;
}
#footer1-4y P {
  font-size: 16px;
  color: #0275d8;
}


#msg-box4-4z .lead P {
  font-size: 19px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-51 .navbar-toggler {
  color: #0275d8;
}
#menu-51 .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-51 .nav-link {
  font-size: 20px;
}
#contacts1-53 B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-53 P {
  color: #ffffff;
}
#footer1-54 P {
  font-size: 16px;
  color: #0275d8;
}


#msg-box4-55 .lead P {
  font-size: 19px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-57 .navbar-toggler {
  color: #0275d8;
}
#menu-57 .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-57 .nav-link {
  font-size: 20px;
}
#contacts1-59 B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-59 P {
  color: #ffffff;
}
#footer1-5a P {
  font-size: 16px;
  color: #0275d8;
}


#msg-box4-5b .lead P {
  font-size: 19px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-5d .navbar-toggler {
  color: #0275d8;
}
#menu-5d .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-5d .nav-link {
  font-size: 20px;
}
#contacts1-5f B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-5f P {
  color: #ffffff;
}
#footer1-5g P {
  font-size: 16px;
  color: #0275d8;
}


#msg-box4-5h .lead P {
  font-size: 19px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-5j .navbar-toggler {
  color: #0275d8;
}
#menu-5j .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-5j .nav-link {
  font-size: 20px;
}
#contacts1-5l B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-5l P {
  color: #ffffff;
}
#footer1-5m P {
  font-size: 16px;
  color: #0275d8;
}


#msg-box4-5n .lead P {
  font-size: 19px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-5p .navbar-toggler {
  color: #0275d8;
}
#menu-5p .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-5p .nav-link {
  font-size: 20px;
}
#contacts1-5r B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-5r P {
  color: #ffffff;
}
#footer1-5s P {
  font-size: 16px;
  color: #0275d8;
}


#msg-box4-5t .lead P {
  font-size: 19px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-5v .navbar-toggler {
  color: #0275d8;
}
#menu-5v .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-5v .nav-link {
  font-size: 20px;
}
#contacts1-5x B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-5x P {
  color: #ffffff;
}
#footer1-5y P {
  font-size: 16px;
  color: #0275d8;
}


#msg-box4-5z .lead P {
  font-size: 19px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-61 .navbar-toggler {
  color: #0275d8;
}
#menu-61 .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-61 .nav-link {
  font-size: 20px;
}
#contacts1-63 B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-63 P {
  color: #ffffff;
}
#footer1-64 P {
  font-size: 16px;
  color: #0275d8;
}


#msg-box4-65 .lead P {
  font-size: 19px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-67 .navbar-toggler {
  color: #0275d8;
}
#menu-67 .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-67 .nav-link {
  font-size: 20px;
}
#contacts1-69 B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-69 P {
  color: #ffffff;
}
#footer1-6a P {
  font-size: 16px;
  color: #0275d8;
}


#msg-box4-6b .lead P {
  font-size: 19px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-6d .navbar-toggler {
  color: #0275d8;
}
#menu-6d .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-6d .nav-link {
  font-size: 20px;
}
#contacts1-6f B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-6f P {
  color: #ffffff;
}
#footer1-6g P {
  font-size: 16px;
  color: #0275d8;
}

#content5-6h .mbr-section-title {
  font-size: 30px;
}
#content5-6h P {
  font-size: 18px;
}
#menu-6i .navbar-toggler {
  color: #0275d8;
}
#menu-6i .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-6i .nav-link {
  font-size: 20px;
}
#contacts1-6k B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-6k P {
  color: #ffffff;
}
#footer1-6l P {
  font-size: 16px;
  color: #0275d8;
}


#msg-box4-6n .lead P {
  font-size: 19px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-6p .navbar-toggler {
  color: #0275d8;
}
#menu-6p .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-6p .nav-link {
  font-size: 20px;
}
#contacts1-6r B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-6r P {
  color: #ffffff;
}
#footer1-6s P {
  font-size: 16px;
  color: #0275d8;
}


#msg-box4-6t .lead P {
  font-size: 19px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-6v .navbar-toggler {
  color: #0275d8;
}
#menu-6v .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-6v .nav-link {
  font-size: 20px;
}
#contacts1-6x B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-6x P {
  color: #ffffff;
}
#footer1-6y P {
  font-size: 16px;
  color: #0275d8;
}


#msg-box4-6z .lead P {
  font-size: 19px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-71 .navbar-toggler {
  color: #0275d8;
}
#menu-71 .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-71 .nav-link {
  font-size: 20px;
}
#contacts1-73 B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-73 P {
  color: #ffffff;
}
#footer1-74 P {
  font-size: 16px;
  color: #0275d8;
}


#msg-box4-75 .lead P {
  font-size: 19px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-77 .navbar-toggler {
  color: #0275d8;
}
#menu-77 .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-77 .nav-link {
  font-size: 20px;
}
#contacts1-79 B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-79 P {
  color: #ffffff;
}
#footer1-7a P {
  font-size: 16px;
  color: #0275d8;
}

#menu-7b .navbar-toggler {
  color: #0275d8;
}
#menu-7b .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-7b .nav-link {
  font-size: 20px;
}
#header3-7c H3 {
  text-align: center;
}
#content5-7i P {
  font-size: 19px;
  text-align: left;
}
#content5-7y .mbr-section-title {
  font-size: 46px;
}
#msg-box3-7n .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-7n .mbr-header .mbr-header__subtext {
  text-align: center;
}
#contacts1-7q B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-7q P {
  color: #ffffff;
}
#footer1-7r P {
  font-size: 16px;
  color: #0275d8;
}

#menu-80 .navbar-toggler {
  color: #0275d8;
}
#menu-80 .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-80 .nav-link {
  font-size: 20px;
}
#header3-81 H3 {
  text-align: center;
}
#content5-84 P {
  font-size: 17px;
}
#content5-84 .mbr-section-title {
  font-size: 46px;
}
#content5-86 P {
  font-size: 19px;
  text-align: left;
}
#content5-86 .mbr-section-title {
  font-size: 46px;
}
#content5-88 .mbr-section-title {
  font-size: 46px;
}
#msg-box3-8c .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-8c .mbr-header .mbr-header__subtext {
  text-align: center;
}
#contacts1-8e B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-8e P {
  color: #ffffff;
}
#footer1-8f P {
  font-size: 16px;
  color: #0275d8;
}

#menu-8g .navbar-toggler {
  color: #0275d8;
}
#menu-8g .navbar-brand {
  font-size: 46px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-8g .nav-link {
  font-size: 20px;
}
#header3-8h H3 {
  text-align: center;
}
#content5-8k P {
  font-size: 18px;
}
#content5-8k .mbr-section-title {
  font-size: 46px;
}
#content5-8l P {
  font-size: 19px;
  text-align: left;
}
#content5-8l .mbr-section-title {
  font-size: 46px;
}
#msg-box3-8p .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-8p .mbr-header .mbr-header__subtext {
  text-align: center;
}
#contacts1-8r B {
  color: #ffffff;
  font-size: 17px;
}
#contacts1-8r P {
  color: #ffffff;
}
#footer1-8s P {
  font-size: 16px;
  color: #0275d8;
}
